<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Edit configuration</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <nav class="topnav">
        <a href="/">Home</a>
        <a href="/set-config">Set Config</a>
        <a class="active" href="/edit-config">Edit Config</a>
        <a href="/test">Test</a>
        <a href="/run">Run</a>
        <a href="/fitness">Fitness</a>
    </nav>
    <div class="main">
        <h1>Welcome to the Edit configuration Page</h1>
    </div>
</body>

</html>