<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Fitness</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <nav class="topnav">
        <a href="/">Home</a>
        <a href="/set-config">Set Config</a>
        <a href="/edit-config">Edit Config</a>
        <a href="/test">Test</a>
        <a href="/run">Run</a>
        <a class="active" href="/fitness">Fitness</a>
    </nav>
    <div class="main">
        <h1>Fitness Over Time for All Algorithms</h1>
        <canvas id="fitnessChart"></canvas>
    </div>
    <script src="/js/fitness.js"></script>
</body>

</html>