<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Set configuration</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <nav class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/set-config">Set Config</a>
        <a href="/edit-config">Edit Config</a>
        <a href="/test">Test</a>
        <a href="/run">Run</a>
        <a href="/fitness">Fitness</a>
    </nav>
    <div class="main">
        <h1>Welcome to the Set configuration Page</h1>
        <form id="configForm">
            <fieldset>
                <legend><strong>LCA Parameters</strong></legend>
                <fieldset>
                    <legend><strong>L (League size):</strong></legend>
                    <label for="L_value">L (League size):</label><br>
                    <input type="radio" id="L_single" name="L_type" value="single" checked>
                    <label for="L_single">Single value</label>
                    <input type="radio" id="L_range" name="L_type" value="range">
                    <label for="L_range">Range</label><br>

                    <div id="L_single_input">
                        <input type="number" id="L" name="L" value="20" min="1" step="1">
                    </div>
                    <div id="L_range_input" style="display:none;">
                        From: <input type="number" id="L_from" min="1" step="1" value="10">
                        To: <input type="number" id="L_to" min="1" step="1" value="30">
                        Step: <input type="number" id="L_step" min="1" step="1" value="1">
                    </div>
                </fieldset>

                <fieldset>
                    <legend><strong>S (Number of seasons)</strong></legend>

                    <input type="radio" id="S_single" name="S_type" value="single" checked>
                    <label for="S_single">Single value</label>
                    <input type="radio" id="S_range" name="S_type" value="range">
                    <label for="S_range">Range</label><br>

                    <div id="S_single_input">
                        <input type="number" id="S" name="S" value="20" min="1" step="1">
                    </div>
                    <div id="S_range_input" style="display:none;">
                        From: <input type="number" id="S_from" min="1" step="1" value="10">
                        To: <input type="number" id="S_to" min="1" step="1" value="30">
                        Step: <input type="number" id="S_step" min="1" step="1" value="1">
                    </div>
                </fieldset>

                <fieldset>
                    <legend><strong>Other Parameters</strong></legend>

                    <label for="p_c">p_c (control parameter):</label><br>
                    <input type="number" id="p_c" name="p_c" value="0.3" min="0" max="1" step="0.01" required>
                    <small>Must be &gt; 0 and &lt; 1</small><br><br>

                    <label for="PSI1">PSI1:</label><br>
                    <input type="number" id="PSI1" name="PSI1" value="0.2" min="0" max="1" step="0.01" required><br><br>

                    <label for="PSI2">PSI2:</label><br>
                    <input type="number" id="PSI2" name="PSI2" value="1" min="0" max="1" step="0.01" required><br>
                </fieldset>
            </fieldset>
            <fieldset>
                <legend><strong>Sim Configs</strong></legend>

                <label for="config_type">config_type:</label><br>
                <input type="number" id="config_type" name="config_type" value="1" min="-1" max="9" step="1" required>
                <small>-1 means range [1,9]</small><br><br>

                <fieldset>
                    <legend><strong>VM Scheduling Mode</strong></legend>

                    <label>
                        <input type="radio" name="vm_scheduling_mode" value="time" checked>
                        Time-Shared
                    </label><br>

                    <label>
                        <input type="radio" name="vm_scheduling_mode" value="space">
                        Space-Shared
                    </label>
                </fieldset>

                <label for="cost_config_type">cost_config_type:</label><br>
                <input type="number" id="cost_config_type" name="cost_config_type" value="1" min="1" max="2" step="1"
                    required><br>
            </fieldset>

            <button type="submit">Submit</button>
        </form>
    </div>

    <script src="/js/set-config.js"></script>
</body>

</html>